@reference "./globals.css";


h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold font-lora mb-4 leading-tight md:leading-tight;
}

h1.h1 {
  @apply text-3xl md:text-4xl lg:text-5xl font-semibold font-lora mb-4 leading-tight md:leading-tight;
}

h2 {
    @apply text-2xl md:text-3xl lg:text-[2.75rem] font-semibold font-lora mb-4 mt-2;
}
h2.h2 {
  @apply text-2xl md:text-3xl lg:text-[2.75rem] font-semibold font-lora mb-4 mt-2;
}

h3 {
  @apply text-xl sm:text-2xl md:text-[1.7rem] font-semibold font-lora mb-4;
}

h3.h3 {
  @apply text-xl sm:text-2xl md:text-[1.7rem] font-semibold font-lora mb-4;
}

h3.heading-small {
  @apply text-xl font-semibold text-gray;
}

h3.card-big-heading{
  @apply mt-5 text-2xl  text-dark
}

h3.card-pricing{
  @apply mt-5 text-xl  text-navygreen
}

h3.banner-heading{
  @apply text-2xl font-semibold text-white
}


h4{
  @apply text-sm sm:text-xl md:text-2xl lg:text-3xl font-semibold font-lora mb-6 text-gray
}

h5{
  @apply text-base md:text-lg lg:text-xl font-semibold font-lora mb-3 text-dark
}

/* Buttons css */
.btn-outline-big{
  @apply bg-transparent px-6 py-4 border-2 text-navygreen border-navygreen items-center justify-center hover:text-white hover:bg-navygreen;
}
/*End Buttons css*/







.navbar-link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.9375rem; /* 15px */
  line-height: 1.25rem; /* 20px */
  text-transform: capitalize;
  color: #2B2828; /* dark */
  transition: color 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #01949A; /* your navygreen color */
}

.logo {
  width: 3.34rem;
  height: 3.36rem;
}


/* ====== Dropdown Container (Navbar) ====== */
.dropdown-container {
  @apply absolute z-50 bg-navbarbg border border-gray-200 shadow-xl
         transition-all duration-300 ease-in-out py-4;
}

/* For dropdown width variants */
.dropdown-wide {
  @apply w-[580px];
}

.dropdown-narrow {
  @apply w-[430px];
}

/* Dropdown positioning */
.dropdown-left {
  @apply left-0;
}

.dropdown-right {
  @apply right-0;
}

/* Dropdown vertical offset */
.dropdown-offset {
  top: calc(100% + 26px);
}


  .info-card {
    @apply bg-white shadow-md rounded-xl flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left p-6 hover:shadow-xl transition-all duration-300 min-h-[120px];
  }

  .button-green{
    @apply  border-navygreen text-navygreen hover:bg-navygreen hover:text-white
  }

  .mobile-circle{
    @apply h-[5px] w-[5px] text-dark
  }

  .mobile-desktop-view{
    @apply absolute top-full left-1/2 -translate-x-1/2 w-full sm:w-[90%] md:w-[70%] bg-white border border-gray-200 shadow-lg p-5 z-50
  }

  .menu-items-font-weights{
    @apply text-dark text-[15px] font-medium leading-[22px] group-hover/item:text-white flex-1
  }
  .circle-li{
    @apply text-dark text-[8px] group-hover/item:text-white
  }

  .drowpdown-heading{
    @apply text-navygreen font-semibold uppercase text-[12px] leading-[18px]
  }



p{
  @apply text-gray-950 text-base mt-4
}
p.text-white {
  @apply text-white;
}



@layer components {

  .topheader-container{
    @apply w-full bg-white text-gray-600 text-sm border-b border-gray-200
  }

  .fluid-conatiner{

    @apply w-full mx-auto bg-white
  }
  .theme-container{
    @apply max-w-7xl mx-auto
  }

  .mobile-padding{
    @apply mt-20 mb-16
  }

.small-box {
  @apply hidden sm:flex absolute top-1/2 right-0 transform translate-x-1/4 -translate-y-1/2
         bg-navygreen px-6 py-6 rounded text-white shadow-lg w-[180px] lg:w-[220px] flex flex-col items-start;
}

.icons-size{
  @apply text-dark text-xl md:text-xl
}

.topheader-text{
  @apply text-[15px] md:text-sm text-gray
}

.small-heading{
  @apply gap-2 text-white text-sm
}

.btn-link {
  @apply mt-3 flex items-center gap-2 justify-start md:justify-start font-semibold hover:underline text-navygreen text-lg
}

.btn-link-white {
  @apply mt-3 flex items-center gap-2 justify-start md:justify-start font-semibold hover:underline text-white text-lg
}
.chevron-right{
  @apply text-white bg-navygreen rounded-full p-1 shrink-0
}

.btn-straight{
  @apply text-navygreen font-medium border border-navygreen px-5 py-2 hover:bg-navygreen hover:text-white transition-all duration-300
}

.banner-social{
  @apply hover:text-gray-200
}

.banner-li{
  @apply space-y-3 text-white text-sm
}


}

/* ====== Top Coupon Code Bar ====== */
.top-coupon-code-bar{
  @apply  text-white text-center py-3 md:py-3 text-sm;
  span{
    @apply font-bold;
  }
}
/* ====== End Top Coupon Code Bar ====== */


/* ====== Top Account Bar ====== */
.top-account-links{
  @apply grid grid-cols-1 md:grid-cols-2;

  .top-account-links-left{
    @apply hidden md:flex gap-4 items-center justify-start text-sm font-inter text-gray ;
    a{
      @apply flex gap-2;
      svg{
        @apply text-dark text-xl md:text-xl ;
      }
      span{
        @apply font-normal;
      }

    }
    a:hover{
      @apply cursor-pointer
    }
  }

  .top-account-links-right{
    @apply flex w-full gap-4 items-center justify-end text-sm font-inter text-gray;
    a{
      @apply flex gap-2;
      svg{
        @apply text-dark text-xl md:text-xl ;
      }
      span{
        @apply font-normal;
      }

    }
    a:hover{
      @apply cursor-pointer
    }
  }
}
/* ====== End Top Account Bar ====== */

/* ====== Home Doctors section ====== */
.doctors-card{
  @apply basis-full sm:basis-1/2 lg:basis-1/4 px-4;
  img{
    @apply w-full h-full object-cover transition-transform duration-300 hover:scale-105;
  }
  h3{
    @apply font-extrabold text-lg md:text-2xl mt-5;
  }
}
/* ====== End Home Doctors section ====== */


/* ====== Testimonials Card ====== */
.testimonials-card{
  @apply md:basis-1/2 lg:basis-1/3 px-0 md:px-6 lg:px-8;
  svg{
    @apply text-navygreen text-2xl mb-4;
  }
  .box-border-left{
    @apply border-l-2 border-navygreen pl-3 mt-6;
  }
  h3{
    @apply font-extrabold text-base mt-5;
  }
}
/* ====== End Testimonials Card ====== */


/* Navbar start  */

.navbar-border{
  @apply border-b border-bggray relative z-50 font-inter
}

.navbar-dropdown {
  @apply absolute top-[calc(100%+26px)] z-50 bg-navbarbg border border-gray-200 shadow-xl
         transition-all duration-300 ease-in-out py-4;
}

/* Left or Right positioning */
.navbar-dropdown.left {
  @apply left-0;
}

.navbar-dropdown.right {
  @apply right-0;
}

/* Width variants */
.navbar-dropdown.wide {
  @apply w-[580px];
}

.navbar-dropdown.narrow {
  @apply w-[430px];
}


/* Footer start */

.footer-grid{
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12;
}



/* Choose us start */

.small-box-center{
  @apply absolute hidden md:flex lg:right-[-60px] right-3 top-1/2 -translate-y-1/2 bg-navygreen text-white px-6 py-6 shadow-lg w-[220px] flex-col items-start justify-center;
}


.why-choose-us{
  @apply grid grid-cols-1 md:grid-cols-2;


  .why-us-img-div {
    @apply h-[400px] md:h-auto;
  }


  .why-us-text-div{
    @apply bg-navbarbg py-3 md:py-14 lg:py-16 pl-6 md:pl-16 pr-4 md:pr-4;

    a{
      @apply mt-4;
      svg{
        @apply bg-navygreen text-white shrink-0 rounded-full;
      }
    }
  }
}

/* End Choose us start */

ul.circle-bullet-ul{
  @apply space-y-2 mb-6 mt-6 text-sm sm:text-base;

  li{
    @apply flex items-start;
    svg{
       @apply text-navygreen w-5 h-5 mt-0.5 mr-2 shrink-0;
    }
  }
}

.small-box-center{
  @apply absolute  md:flex lg:right-[-40px] right-3 top-1/2 -translate-y-1/2 bg-navygreen text-white px-6 py-6 shadow-lg w-[190px] flex-col items-start justify-center;
  svg{
   @apply text-white text-4xl mb-3;
  }
  span{
    @apply  text-2xl font-lora;
  }
  p{
    @apply text-white text-sm font-bold mt-0;
  }

}

/* Medical section start */

.medical-scetion{
  @apply grid grid-cols-1 md:grid-cols-2;



  .medical-image-side{
    @apply h-[400px] md:h-auto;
  }

  .medical-text-side{
  @apply bg-navygreen text-white py-3 md:py-14 lg:py-16 pl-6 md:pl-16 pr-4 md:pr-4;

    a{
      @apply mt-4;
      svg{
        @apply bg-white text-navygreen shrink-0 rounded-full;
      }
    }
    p{
      @apply text-white
    }


    ul.circle-bullet-ul{
      @apply space-y-2 mb-6 mt-6 text-sm sm:text-base;

     li{
     @apply flex items-start sm:items-start;
     svg{
       @apply text-navygreen bg-white w-5 h-5 mt-0.5 mr-2 shrink-0 rounded-full;
     }
   }
  }


  }
}

.ul-circle {
  @apply space-y-2 mb-6 text-sm sm:text-base;

  li {
    @apply flex items-start;

    .check-circle {
      @apply text-navygreen w-5 h-5 mt-0.5 mr-2 shrink-0;
    }

    span {
      @apply font-normal;
    }
  }

}

/* Start page banner box  */
.page-banner-box{
  @apply flex flex-col md:flex-row items-start px-6 py-16 md:py-16 relative z-10;
  div{
    @apply  w-full md:w-[30%] bg-white/90 shadow-xl border-8 border-skyblue px-8 py-8 backdrop-blur-sm text-center md:text-left;
  }
}
/* End page banner box  */

/* contact-us start  */
.form-group {
  @apply w-full flex flex-col space-y-2;

  label {
    @apply text-gray-700 font-lora font-[500] text-base;
  }

  .form-control {
    @apply h-[58px] w-full bg-white px-4 border-0 border-gray-300 rounded-none
    focus:ring-2 focus:ring-navygreen focus:border-navygreen focus:outline-none
    transition duration-200
  }

  textarea.form-control {
    @apply w-full bg-white h-32 p-3 border-0 rounded-none resize-y
    focus:ring-2 focus:ring-navygreen focus:border-navygreen focus:outline-none;
  }

}

/* FAQ Section Title */
.faqs-section {
  @apply text-center mb-6 sm:mb-10;
}

.normal-container {
  @apply max-w-5xl mx-auto space-y-4 sm:space-y-5;
}

.faq-button {
  @apply w-full flex justify-between items-center text-left 
         px-6 sm:px-6 py-3 sm:py-4 font-lora 
         transition-all duration-300;
}

.faq-button span {
  @apply text-sm sm:text-base md:font-semibold font-lora;
}

.faq-button svg {
  @apply w-5 h-5 sm:w-6 sm:h-6 transition-transform duration-300;
}
.answer {
  @apply px-4 sm:px-6 pb-4 sm:pb-5 pt-2 sm:pt-4 
         text-gray-600 text-sm sm:text-base leading-relaxed;
}
